flask
pandas
joblib
scikit-learn
scikit-image
scipy
numpy
Pillow
tqdm
imutils

# Core ML / Vision Libraries
opencv-python-headless
dlib
mtcnn
mediapipe
insightface
torch
torchvision
dlib --only-binary :all:


# --- IMPORTANT ---
# Add other major libraries ONLY if your code directly imports them.
# For example, if you use TensorFlow, add:
tensorflow
#
# Or if you use PyTorch, add:
